@font-face {
  font-family: 'Lyno-Jean 2';
  src: url('fonts/Lyno-Jean 2.otf') format('opentype');
}

@font-face {
  font-family: 'Lyno-Stan 2';
  src: url('fonts/Lyno-Stan 2.otf') format('opentype');
}

@font-face {
  font-family: 'Lyno-Walt 2';
  src: url('fonts/Lyno-Walt 2.otf') format('opentype');
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}

.main-title {
  text-align: center;
  font-family: 'Lyno-Stan 2', sans-serif;
}

.subtitle {
  text-align: center;
}

.side-by-side {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

#random-image {
  width: 400px;
  height: auto;
}

@media (max-width: 600px) and (orientation: portrait) {
  #random-image {
    width: 20%;
  }
}


.social-links {
  text-align: right;
  display: block;
  margin-bottom: 6px;
  color: white;
}

.social-links a {
  text-align: right;
  display: block;
  margin-bottom: 6px;
  color: white;
  text-decoration: underline;
}

p {
  margin: 0 0 6px 0;
}

/* cenas do separador? */

.read-item {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #222;
  transition: background 0.2s;
}

.read-item:hover {
  background: #111;
}

.read-item img {
  width: 60px;
  height: 40px;
  object-fit: cover;
  background: #333; /* cor de fundo enquanto a imagem não carrega */
}

.item-info {
  font-size: 0.85rem;
  line-height: 1.2;
}

.info-grid {
  display: flex;
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.column {
  flex: 1;
}

.column-title {
  font-family: 'Lyno-Jean 2', sans-serif; /* Usando uma das tuas fontes */
  font-size: 1.2rem;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.changelog-list {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
}

.changelog-list li {
  margin-bottom: 8px;
  color: #ccc;
}

.changelog-list span {
  color: #666;
  font-family: monospace;
}

/* Mobile */
@media (max-width: 768px) {
  .info-grid {
    flex-direction: column;
  }
}