@font-face {
  font-family: 'Lyno-Jean 2';
  src: url('fonts/Lyno-Jean 2.otf') format('opentype');
}

@font-face {
  font-family: 'Lyno-Stan 2';
  src: url('fonts/Lyno-Stan 2.otf') format('opentype');
}

@font-face {
  font-family: 'Lyno-Ulys 2';
  src: url('fonts/Lyno-Ulys 2.otf') format('opentype');
}

@font-face {
  font-family: 'Lyno-Walt 2';
  src: url('fonts/Lyno-Walt 2.otf') format('opentype');
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}

.main-title {
  text-align: center;
  font-family: 'Lyno-Stan 2', sans-serif;
}

.subtitle {
  text-align: center;
}

.side-by-side {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

#random-image {
  width: 400px;
  height: auto;
}

@media (max-width: 600px) and (orientation: portrait) {
  #random-image {
    width: 20%;
  }
}


.social-links {
  text-align: right;
  display: block;
  margin-bottom: 6px;
  color: white;
}

.social-links a {
  text-align: right;
  display: block;
  margin-bottom: 6px;
  color: white;
  text-decoration: underline;
}

p {
  margin: 0 0 6px 0;
}